html {
    min-height: 100%;
}
body {
    font-family: sans-serif;
    text-align: center;
    font-size: 120%;
    padding-top: 10px;
}
jooption, joexpando, jobutton {
    font-size: 60%;
}
.eq {
    font-size: 10em;
    text-shadow: 0px 0px 24px rgba(219, 217, 150, 1);
    position: fixed;
    z-index: 1000;
}
.eq2 {
    font-size: 2em;
    text-shadow: 0px 0px 24px rgba(219, 217, 150, 1);
    position: fixed;
    z-index: 1000;
}
.eq3 {
    font-size: 2em;
    text-shadow: 0px 0px 24px rgba(219, 217, 150, 1);
    position: fixed;
    z-index: 1000;
}
.menu {
    text-align: left;
    color: black;
    background: transparent;
    position: fixed;
    font-size: 3em;
    border: none;
    height: 1em;
    width: 1em;
    border-radius: 0;
    line-height: 1em;
    margin: 0 0 0 0.12em;
    padding: 0 0 0 0;
}
.buttonTopMargin {
    margin-top: 1em;
}
.instructions {
    height: 100%;
    width: 100%;
    border: none;
    background: white;
}
jocard, body {
    /*background: url('../img/stars.jpg');*/
    background-position: center; 
    background-size: 100% 100%;
}
.instructionsButton {
    background: url('../img/questionmark.jpg');
    background-position: center; 
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 0.42em;
    right: 0.3em;
}
.titleImage {
    max-height: 4em;
}
table tr td:nth-child(even){
    background-color: lightyellow;
}
table tr td:nth-child(odd){
    background-color: lightblue;
}
.titleCell {
    background: transparent !important;
}
.multiChart, .hundredsChart, .addChart {
    padding: 20px;
    margin-top: 10px;
}
.hundredsTable, .multiTable, .addTable {
    border-collapse: collapse;
    box-shadow: 3px 3px 8px;
    margin: auto;
}
.hundredsTable td, .multiTable td, .addTable td {
    cursor: pointer;
    border: solid 1px black;
    text-align: center;
}
