body {
    font-family: sans-serif;
    text-align: center;
    font-size: 100%;
}
.instructionsButton {
    background: url('http://img2.wikia.nocookie.net/__cb20130715095303/sword-of-the-stars-the-pit/images/thumb/0/06/Question-mark.jpg/480px-Question-mark.jpg');
    background-position: center; 
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 1px;
    right: 1px;
}
#title {
    width: 100%;
}
table tr td:nth-child(even){
    background: lightyellow;
}
table tr td:nth-child(odd){
    background: lightblue;
}
.titleCell {
    background: transparent !important;
}
.hundredsChart {
    display:inline-block;
    background: url('../img/stars.jpg');
    padding: 20px;
    margin-top: 10px;
}
.hundredsTable {
    border-collapse: collapse;
    box-shadow: 3px 3px 8px;
    margin: auto;
    font-size: 100%;
}
.multiChart {
    display:inline-block;
    background: url('../img/stars.jpg');
    padding: 20px;
    margin-top: 10px;
}
.multiTable {
    border-collapse: collapse;
    box-shadow: 3px 3px 8px;
    margin: auto;
}
.addChart {
    display:inline-block;
    background: url('../img/stars.jpg');
    padding: 20px;
    margin-top: 10px;
}
.addTable {
    border-collapse: collapse;
    box-shadow: 3px 3px 8px;
    margin: auto;
}
.hundredsTable td:hover {
    
}
.multiTable td:hover {
    
}
.hundredsTable td {
    cursor: pointer;
    border: solid 1px black;
    text-align: center;
}
.multiTable td {
    cursor: pointer;
    border: solid 1px black;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
    margin: 5px;
}
